* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif; 
    background: #0f172a;
    color: white;
    overflow-x: hidden;
}
nav {
    padding: 1rem 5%;
    background: rgba(255, 255, 255, 0.05); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    margin: 10px;
    box-shadow: 0 10px 15px rgba(34, 255, 0, 0.3);
    
    gap: 15px;
}
.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #22ff00;
    letter-spacing: 1px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}
.nav-links li a:hover {
    color: #22ff00;
    text-shadow: 0 0 10px #22ff00;
}
.btns{
    display: flex;
}
.btn{
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    background: #22ff00;
    box-shadow: 0 0 15px #22ff00;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover {
    background: #00ff11;
    box-shadow: 0 0 25px #00ff11;
}

.project-card {
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.05); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0 10px 15px rgba(34, 255, 0, 0.2);
    flex-grow: 1;
    flex-basis: 200;
    
    overflow: hidden;
}

.project-card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.project-card h3 {
    color: white;
    margin: 10px 0;
}

.category {
    color: #3498db;
    font-size: 0.9rem;
}

.description {
    color: #ccc;
    font-size: 0.9rem;
    margin-bottom: 15px;
}
.btn2{
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    background: #22ff00;
    box-shadow: 0 0 15px #22ff00;
    border: none;
    transition: 0.3s;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100%;
    
}

.btn2:hover {
    background: #00ff11;
    box-shadow: 0 0 25px #00ff11;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        border-radius: 20px;
        text-align: center;
    }
    .nav-links {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .btns, .btn {
        width: 100%;
    }
}
.yo{
    display: flex;
    flex-wrap: wrap;
}