
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins" , sans-serif;
}

.k{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #00002a;
	
}

.a{
	width: 420px;
	background-color: #00002a;
	box-shadow: 0 0 50px #006EFF;
	border: 2px solid rtba(255, 255, 255, .2);
	backdrop-filter: blur(20px);
	color: #fff;
	border-radius: 10px ;
	padding: 30px 40px;
}

.a h1 {
	font-size: 36px;
	text-align: center;
}

.a .b {
	width: 100%;
	height: 50px;
	margin: 30px 0;
}

.b input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
	padding: 20px 45px 20px 20px;
}

.b input::placeholder {
	color: #fff;
}

.b i {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}
.po .c {
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	margin: -15px 0 15px;
}

.c label input {
	accent-color: #fff;
	margin-right: 3px;
}

.c .a {
	color: #fff;
	text-decoration: none;
}

.c .a:hover {
	text-decoration: underline;
}

.a .pmt {
	width: 100%;
	right: 45px;
	line-height: 60px;
	background: #006EFF;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: 16px;
	color: #333;
	font-weight: 600;
}

.a .d {
	font-size: 14.5px;
	text-align: center;
	margin-top: 20px;
}

.d p a {
	color: #006EFF;
	text-decoration: none;
	font-weight: 600;
}

.d p a:hover {
	text-decoration: underline;
}
